@using ToDoList.Dtos
@model List<UserDto>

<h3>Testing todo's</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Full Name</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var user in @Model)
    {
    <tr>
        <th scope="row"></th>
        <td>@user.FullName</td>
        <td>@Html.ActionLink("Remove", "Delete", "User", new { Id = @user.Id })</td>
    </tr>
    }
  </tbody>
</table>
