@using ToDoList.Models
@model List<User>

<h3>Testing todo's</h3>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var todo in @Model)
    {
    <tr>
        <th scope="row"></th>
        <td>@todo.FirstName</td>
        <td>@todo.LastName</td>
    </tr>
    }
  </tbody>
</table>
